//COLORS
$black: #000;
$white: #fff;
$white-gray: #fafafa;
$color-1: #1a79f4;
$color-2: #e1b015;
$color-3: #f96f1a;
$color-4: #1d92f7;
$color-5: #4ed763;
$color-6: #ff312e;
$color-7: #fc8e36;
$color-8: #E922EF;

//BREAKPOINTS
$xs: "(max-width: 340px)";
$sm: "(max-width: 768px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";

@mixin animate {
  transition: all 0.25s ease-in-out;
}

/* SCROLLBARS */
::-webkit-scrollbar {
  width: 8px;
  @include animate;
}
::-webkit-scrollbar-track {
  background: $white;
  @include animate;
}
.scrollable-content::-webkit-scrollbar * {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: $color-1;
  @include animate;
}