body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  width: 100%;
  position: relative;
  .mg-center {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
  }
}

//ELEMENTS STYLES
h1, h2, h3, h4, h5, h6, p, a, span {
  @include zero-hard;
  @include clean-webkit;
  text-decoration: none;
  line-height: auto;
  color: initial;
  &:hover, &:visited, &:focus, &:active {
    @include zero-hard;
    @include clean-webkit;
    text-decoration: none;
    line-height: auto;
    color: initial;
  }
  &.white {
    color: $white;
  }
  &.black {
    color: $black;
  }
  &.highlight {
    color: $color-2;
  }
  &.gray {
    color: lighten($black, 10%);
  }
  &.note {
    font: {
      size: 10px;
      style: italic;
      weight: 300;
    }
  }
}

h1 {
  font: {
    size: 48px;
    weight: 300;
  }
  &.up {
    text-transform: uppercase;
    font: {
      size: 36px;
      weight: 600;
    }
  }
}

h2 {
  font: {
    size: 16px;
    weight: 400;
  }
}

h3 {
  font: {
    size: 14px;
    weight: 400;
  }
}

p {
  font: {
    size: 12px;
    weight: 400;
  }
}

button.button {
  @include clean-button;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  color: $white;
  height: auto;
  width: auto;
  font: {
    weight: 300;
    size: 16px;
  }
  @include flex-row-center;
  @include shadow;
  @include animate;
  &:hover {
    padding: 10px 20px 10px 20px;
  }
  &.normal {
    @include bg-lighten($color-1);
  }
  &.highlight {
    @include bg-lighten($color-2);
  }
}

//NAVBAR
.mg-top-navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100%;
  max-width: 1600px;
  background: {
    image: url('../assets/img/bg-1.jpg');
    size: 100% auto;
    position: top;
    repeat: no-repeat;
  }
  @media #{$xl}{
    left: calc(50% - 800px);
  }
  .mg-notch {
    height: 48px;
    .step {
      width: 100%;
      position: relative;
      background-color: $black;
      &.part-1, &.part-5 {
        height: 12px;
        width: 40%;
        top: 0px;
        position: absolute;
      }
      &.part-2 {
        height: 40px;
        width: 40px;
        transform: rotate(44.05deg);
        position: absolute;
        left: calc(25% - 9px);
        top: -11px;
      }
      &.part-3{
        position: absolute;
        height: 38px; 
        width: calc(50% - 20px);
        top: 0px;
        left: calc(25% + 11px);
      }
      &.part-4 {
        height: 40px;
        width: 40px;
        transform: rotate(44.05deg);
        position: absolute;
        right: calc(25% - 11px);
        top: -11px;
      }
      &.part-5 {
        right: 0;
        top: 0;
      }
    }
  }
  > .flex {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 25px;
    left: 0px;
    a.mg-logo-macgarage {
      width: 22.5%;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
    > .flex {
      width: 22.5%;
      align-items: flex-end;
      margin-top: 5px;
      span.mg-span-lyrics {
        display: inline-block;
        font-size: 10px;
        min-width: 90px;
        padding-bottom: 5px!important;
      }
      a.mg-logo-lyrics{
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  ul.mg-main-menu {
    @include clean-list;
    background-color: rgba($white, 0.25);
    height: 30px;
    width: 100%;
    font: {
      size: 13px;
      weight: 300;
    }
    color: white;
    text-transform: capitalize;
    margin-top: 70px;
    li.mg-menu-option {
      margin-right: 20px;
      height: 30px;
      a {
        color: inherit;
        height: 100%;
        display: inline-block;
        line-height: 30px;
      }
    }
  }
}


section.mg-welcome {
  background: {
    image: url('../assets/img/bg-1.jpg');
    size: 100% auto;
    position: top; 
    repeat: no-repeat;
  }
  > .flex {
    > img {
      height: 400px;
      margin-top: 125px;
    }
    > .flex {
      box-sizing: border-box;
      padding: 30px;
      align-self: stretch;
      justify-content: center;
      position: relative;
      width: 60%;
      h1 {
        &:first-of-type {
          margin-top: 20px!important;
        }
      }
      h2 {
        margin-top: 20px!important;
      }
      button {
        margin-top: 20px!important;
        cursor: pointer;
      }
      span.note {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 20px;
      }
    }
  }
}