doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Macgarage
    meta name="description" content="Hecho en Stgo, Chile"
    meta name="keywords" content="reparación, apple, tecnología, macbook, iphone, ipad, imac"/
    meta name="author" content="Lyrics Música &amp; Tecnología"
    link rel="stylesheet" href="../styles/normalize.min.css" type="text/css"
    /! FONT AWESOME
    link rel="stylesheet" href="../styles/fontawesome-5.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="../styles/mn-styles.css" type="text/css"
    /! JQUERY
    script src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
    /! INSTAGRAM SCRIPTS
    script src="../scripts/mn-scripts.min.js"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="../assets/img/favicon.svg"
  body
    .mg-center

      /!NAVBAR
      nav.mg-top-navbar
        /! NOTCH IPHONE X
        .mg-notch
          .step.part-1
          .step.part-2
          .step.part-3
          .step.part-4
          .step.part-5
        /! LOGOS NOTCH
        .flex.row.between
          a.mg-logo-macgarage href="#"
            img src="../assets/img/logo-macgarage-light.svg" title="macgarage" alt="macgarage"
          .flex.row.start
            span.mg-span-lyrics.white Una empresa de
            a.mg-logo-lyrics href="#"
              img src="../assets/img/logo-lyrics-light.svg" title="macgarage" alt="macgarage"
        /! MENU
        ul.mg-main-menu.flex.row.start
          li.mg-menu-option 
            a href="#" Inicio
          li.mg-menu-option
            a href="#" Servicios
          li.mg-menu-option
            a href="#" iPhone
          li.mg-menu-option 
            a href="#" Macbook / Macbook Pro / Macbook Air
          li.mg-menu-option
            a href="#" iPad
          li.mg-menu-option
            a href="#" iMac
          li.mg-menu-option
            a href="#" Testimonios
          li.mg-menu-option
            a href="#" Reparaciones
          li.mg-menu-option
            a href="#" Preguntas Frecuentes
        /! TRIGEER MOBILE
        i.fas.fa-bars.display-none
      
      /! SECTION WELCOME
      section.mg-welcome
        .flex.row.between
          img src="../assets/img/iphone-open.png" title="iphone" alt="iphone en reparación"
          .flex.col.center
            h1.white.text-center Soluciones en 72 hrs.
            h1.white.up.text-center Soporte experto
            h2.black.text-center ¿Tienes una emergencia con tu equipo Apple?
            a href="#"
              button.button.normal type="button" Comienza tu reparación ahora
            span.note.gray.text-center
              | * Sujeto a stock de piezas. En modelos muy antiguos podría demorar más, pero serás informado al comienzo.
        nav.mg-quick-access
          .flex.row.around
            /! PHONE
            .mg-phone.flex.row.start
              .mg-icon-access
                img src="../assets/img/mg-phone.svg" title="phone" alt="phone number"
              .flex.col.start
                h2.white Llámanos ahora:
                .flex.row.start
                  a.white href="tel:+56900000000"
                    | +56 9 00000000&nbsp;
                  a.white href="tel:+56900000000" 
                    | / +56 9 00000000
            /! ADRESS
            .mg-adress.flex.row.start
              .mg-icon-access
                img src="../assets/img/mg-location.svg" title="location" alt="location service"
              .flex.col.start
                h2.white Visítanos 
                .flex.row.start
                  a.white href="#" Nancy #570, Ñuñoa
            /! MAIL
            .mg-mail.flex.row.start
              .mg-icon-access
                img src="../assets/img/mg-mail.svg" title="mail" alt="mail"
              .flex.col.start
                h2.white Escríbenos
                .flex.row.start
                  a.white href="#" contacto@macgarage.cl
      
      /! SECTION SERVICES 
      section.mg-services
        /! US SUBSECTION
        .mg-us.flex.row.between
          .flex.col.center
            .flex.col.left
              h1.black.text-left Somos el servicio técnico
              h1.highlight.text-left especializado en Apple
              h2.black.text-left de LYRICS, Música & Tecnología.
              p.gray.text-justify
                | Somos fanáticos de la tecnología igual que tú y nos dedicamos a reparar y mantener tus equipos Apple para que funcionen como el primer día. Recibimos Macbook, Macbook Pro, iPhone, iPad, iMac, etc...
          .flex.row.center
            img src="../assets/img/apple-family.png" title="apple devices" alt="apple devices"
        /! SERVICE SUBSECTION 
        ul.mg-service-list.flex.row.center
          /! DIAGNOSIS
          li.mg-service-detail.diagnosis.flex.col.center
            .flex.row.center
              img src="../assets/img/mg-diagnosis.svg" title="diagnosis" alt="diagnosis"
            h4.black.text-center Diagnóstico
            p.gray.text-justify
              | Chequeamos y realizamos una evaluación entregando un diagnóstico express de costo cero dentro del mismo  día en que nos entregas tus equipos.
          /! SOLUTION
          li.mg-service-detail.check.flex.col.center
            .flex.row.center
              img src="../assets/img/mg-check.svg" title="check" alt="check"
            h4.black.text-center Solución
            p.gray.text-justify
              | Sabemos lo importante que son tus equipos para tu trabajo o tu empresa. Garantizamos solucionar el problema en un plazo máximo de 48hrs. De lo contrario lo sabrás de inmediato. 
          /! PICK UP & DELIVERY
          /! SOLUTION
          li.mg-service-detail.delivery.flex.col.center
            .flex.row.center
              img src="../assets/img/mg-delivery.svg" title="delivery" alt="delivery"
            h4.black.text-center Pickup & Delivery 
            p.gray.text-justify
              | Entendemos que tu tiempo es valioso y por eso contamos con servicio de retiro y entrega de tu equipo a reparar. Para que puedas seguir tranquilo tu agenda.
          /! ACCESORIES
          li.mg-service-detail.fix.flex.col.center
            .flex.row.center
              img src="../assets/img/mg-fix.svg" title="fix" alt="fix"
            h4.black.text-center Accesorios/Repuestos
            p.gray.text-justify
              | Resolvemos las fallas técnicas con componentes de calidad ya que valoramos la durabilidad de nuestor trabajo y tu inversión. Contamos con amplia gama de piezas, accesorios, periféricos y repuestos alternativos avalados por Apple. 
          /! UPGRADE
          li.mg-service-detail.upgrade.flex.col.center
            .flex.row.center
              img src="../assets/img/mg-up.svg" title="upgrade" alt="upgrade"
            h4.black.text-center Upgrade
            p.gray.text-justify
              | La tecnología avanza rápido y sabemos la importancia  de que tus equipos funcionen fluido como el primer día, para esto ampliamos las características de hardware y potenciamos la capacidad reemplazando piezas por otras más poderosas.
          
        button.button.normal type="button" Cotizar ahora
        nav.mg-slider.display-none
          i.fas.fa-chevron-circle-left
          .mg-slider-bar
          i.fas.fa-chevron-circle-right

      /! SECTION DEVICES
      section.mg-devices
        h1.white.text-center Elige tu dispositivo
        h1.black.text-center para empezar tu cotización
        ul.mg-devices-list.flex.row.around  
          /! IPHONE
          li.mg-device
            a.flex.col.center href=""
              img src="../assets/img/device-01.png" title="iphone" alt="iphone"
              h2.text-center iPhone
          /! MACBOOK
          li.mg-device
            a.flex.col.center href=""
              img src="../assets/img/device-02.png" title="macbook pro" alt="macbook pro"
              h2.text-center Macbook
          /! IMAC
          li.mg-device
            a.flex.col.center href=""
              img src="../assets/img/device-03.png" title="imac" alt="imac"
              h2.text-center iMac
          /! IPAD
          li.mg-device
            a.flex.col.center href=""
              img src="../assets/img/device-04.png" title="ipad" alt="ipad"
              h2.text-center iPad
          /! OTROS
          li.mg-device
            a.flex.col.center href=""
              img src="../assets/img/device-05.png" title="dispositivos apple" alt="dispositivos apple"
              h2.text-center Otro
      
      /! SECTION RATE & FEEDBACK
      section.mg-rate-feedback.flex.row.between
        /! TEXT
        .flex.col.center
          h1.black.text-center Opiniones reales
          h2.black.text-center de quienes pasan por MacGarage
          p.gray.text-justify
            | Estas son las experiencias reales de personas que han traido su iPhone, Macbook, iMac, iPad y otros dispositivos Apple a reparación en Macgarage.
          button.button.highlight Ver todas en nuestro Fanpage
        /! QUOTES
        .flex.col.center.flex-quote
          /! QUOTE I
          .flex.col.end
            blockquote.mg-quote 
              | El mejor lugar para llevar un Mac. Te explican todo lo que harán, te guían para tomar la mejor decisión y siempre de una manera muy amable. ¡Completamente recomendado!
            p.gray.text-right Nombre Apellido 19/03/2017
          /! QUOTE II
          .flex.col.start
            blockquote.mg-quote 
              | Excelente atención, llevamos un notebook Macbook Pro. Le hicimos un upgrade y quedó filete.
            p.gray.text-left Nombre Apellido 19/03/2017
          /! QUOTE III
          .flex.col.end
            blockquote.mg-quote 
              | Compré un base para discos sata 2.5 con USB 3.0. El servicio es estupendo, rápido, amables y confiables. El producto es buenísimo, recomendables 100%.
            p.gray.text-right Nombre Apellido 19/03/2017
      
      /! FIXES
      section.mg-fixes.flex.col.center
        h1.black.text-center Reparaciones
        .mg-instagram-panel
          iframe.snapwidget-widget src="https://snapwidget.com/embed/522513" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"

        button.button.highlight type="button" Cotizar ahora
      
      /! FOOTER
      footer.flex.row.between
        .flex.col.start
          p.white.text-left Síguenos en redes sociales
          .flex.row.start
            a href="#"
              i.fab.fa-facebook-f
            a href="#"
              i.fab.fa-instagram
        a.mg-logo-macgarage href="#"
          img src="../assets/img/logo-macgarage-light.svg" title="macgarage" alt="macgarage"
        .flex.col.end
          span.note.white.flex.row.start.text-right Dirección: Nancy #570, Ñuñoa, Santiago de Chile.
          span.note.white.flex.row.start.text-right 
            | Teléfonos: 
            a href="tel:+56222503258" 2 25023258 / 
            a href="tel:+56959171124" +569 59171124
          span.note.white.flex.row.start.text-right 
            | Email: 
            a href="mailto:contacto@macgarage.cl" contacto@macgarage.cl
          span.note.white.flex.row.start.text-right 
            | E-Shop:
            a href="http://www.lyrics.cl/tienda" www.lyrics.cl/tienda

      /! MODAL
      .mg-modal-display.display-none
        .mg-modal-bg.flex.col.center
          .mg-modal.flex.col.center
            i.fas.fa-times
            h1.white Contacto
            p.white ¡Contestamos de inmediato entre 10am - 18pm!
            form.flex.col.center
              .mg-form-item.mg-combo
                select type="text"
                  option disabled="" selected="" Dispositivo...
                  option iPhone
                  option iPad
                  option Macbook
                  option iMac
                  option otro...
              .mg-form-item.mg-input
                input placeholder="Tu nombre..."
              .mg-form-item.mg-input
                input placeholder="Tu correo..."
              .mg-form-item.mg-textarea
                textarea placeholder="Tu mensaje..."
              button.button.normal enviar