doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Macgarage
    meta name="description" content="Hecho en Stgo, Chile"
    meta name="keywords" content="reparación, apple, tecnología, macbook, iphone, ipad, imac"/
    meta name="author" content="Lyrics Música &amp; Tecnología"
    link rel="stylesheet" href="../styles/normalize.min.css" type="text/css"
    /! FONT AWESOME
    link rel="stylesheet" href="../styles/fontawesome-5.css" type="text/css" 
    /! STYLES 
    link rel="stylesheet" href="../styles/mn-styles.css" type="text/css"
    /! JQUERY
    script src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
    /! INSTAGRAM SCRIPTS
    script src="../scripts/mn-scripts.min.js"
    /! LIVERELOAD
    script src="http://localhost:35729/livereload.js"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="../assets/img/favicon.svg"
  body
    .mg-center

      /!NAVBAR
      nav.mg-top-navbar
        /! NOTCH IPHONE X
        .mg-notch
          .step.part-1
          .step.part-2
          .step.part-3
          .step.part-4
          .step.part-5
        /! LOGOS NOTCH
        .flex.row.between
          a.mg-logo-macgarage href="#"
            img src="../assets/img/logo-macgarage-light.svg" title="macgarage" alt="macgarage"
          .flex.row.start
            span.mg-span-lyrics.white Una empresa de
            a.mg-logo-lyrics href="#"
              img src="../assets/img/logo-lyrics-light.svg" title="macgarage" alt="macgarage"
        /! MENU
        ul.mg-main-menu.flex.row.start
          li.mg-menu-option 
            a href="#" Inicio
          li.mg-menu-option
            a href="#" Servicios
          li.mg-menu-option
            a href="#" iPhone
          li.mg-menu-option 
            a href="#" Macbook / Macbook Pro / Macbook Air
          li.mg-menu-option
            a href="#" iPad
          li.mg-menu-option
            a href="#" iMac
          li.mg-menu-option
            a href="#" Testimonios
          li.mg-menu-option
            a href="#" Reparaciones
          li.mg-menu-option
            a href="#" Preguntas Frecuentes
        /! TRIGEER MOBILE
        i.fas.fa-bars.display-none
      
      /! DEVICE PAGE IPHONE
      section.device-page.iphone.flex.col.center
        .flex.row.space
          .flex.col.start
            h1.white ¿Necesitas una repación
            h1.black para tu iPhone?
            p.white.text-justify
              | Pantalla quebrada o rota, batería agotada, botones atascados, touch id no funciona, equipo no enciende, iPhone mojado, pantalla sin brillo, cámara, parlante, volumen bajo, equipo no carga, etc.
            button.button.normal Cotizar ahora
          .flex.col.center
            img src="../assets/img/device-01-big.png" title="iphone" alt="iphone"
      
      /! FOOTER
      footer.flex.row.between
        .flex.col.start
          p.white.text-left Síguenos en redes sociales
          .flex.row.start
            a href="#"
              i.fab.fa-facebook-f
            a href="#"
              i.fab.fa-instagram
        a.mg-logo-macgarage href="#"
          img src="../assets/img/logo-macgarage-light.svg" title="macgarage" alt="macgarage"
        .flex.col.end
          span.note.white.flex.row.start.text-right Dirección: Nancy #570, Ñuñoa, Santiago de Chile.
          span.note.white.flex.row.start.text-right 
            | Teléfonos: 
            a href="tel:+56222503258" 2 25023258 / 
            a href="tel:+56959171124" +569 59171124
          span.note.white.flex.row.start.text-right 
            | Email: 
            a href="mailto:contacto@macgarage.cl" contacto@macgarage.cl
          span.note.white.flex.row.start.text-right 
            | E-Shop:
            a href="http://www.lyrics.cl/tienda" www.lyrics.cl/tienda

      /! MODAL
      .mg-modal-display.display-none
        .mg-modal-bg.flex.col.center
          .mg-modal.flex.col.center
            i.fas.fa-times
            h1.white Contacto
            p.white ¡Contestamos de inmediato entre 10am - 18pm!
            form.flex.col.center
              .mg-form-item.mg-combo
                select type="text"
                  option disabled="" selected="" Dispositivo...
                  option iPhone
                  option iPad
                  option Macbook
                  option iMac
                  option otro...
              .mg-form-item.mg-input
                input placeholder="Tu nombre..."
              .mg-form-item.mg-input
                input placeholder="Tu correo..."
              .mg-form-item.mg-textarea
                textarea placeholder="Tu mensaje..."
              button.button.normal enviar